body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f6fb;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:40px;
}

h2{
    margin-top:40px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    margin-bottom:40px;
}

#grafos-lojas{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    gap:20px;
}

.grafico-container{
    background:white;
    padding:15px;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,0.08);
}